#menu-1 .navbar-toggler {
  color: #000;
}
#header1-7 H1 {
  color: #ffffff;
}
#msg-box3-j .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-j .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-b .navbar-toggler {
  color: #000;
}
#header3-p SMALL {
  font-size: 20px;
  text-align: left;
}
#header3-p H3 {
  text-align: center;
}
#content1-q P {
  text-align: center;
}
